@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.footer {
    height: 368.42px; 
    background-color: #FFA19C;
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    width: 100%;
}

.logofooter {
height: 218px;
width: 213px;
justify-content: flex-start;
margin-left: 0px;


}

.box1 {
    margin-top: 30px;
    padding: 30px;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: black;
  font-size: 20px;
    }
    

.box2 {
margin-top: 30px;
padding: 30px;
font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: black;
  font-size: 20px;
}

.buttonfooter {
background-color: white;
border-color: white;
font-size: 16px;
font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  width: 200px;
  height: 40px;
  border-radius: 5px;

}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #2F2638;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #6ECCBA;
    width: 100%; 
    height: 700px;
    padding: 20px;
    box-sizing: border-box; 
}


.image-box {
    width: 250px;
    height: 250px;
    background-color: #ddd;
}

.description {
    text-align: center;
    font-size: 24px;
    color: black;
}

.description2
{
    text-align: center;
    font-size: 24px;
    color: black;
    text-decoration: underline;
}


.buy-button {
    width: 99px;
    height: 53px;
    background-color: #FFA19C;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.infocolor {
    color:black

}

* {
    margin: 0px;
    padding: 0px;

}
nav {
    height: 200px;
    background-color: #FFE266;
} 
.btnRedes {
    margin: 0 0 0 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    justify-content: left;
}
.Iconos {
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.btnMenu {
    margin-top: -90px;
    cursor: pointer;
   
}
.btnMenu1 {  
    transition: transform 0.2s ease;
    position: relative;
    height: 150px;
    width: 200px;
    z-index: 20;
} 
.btnMenu1:hover {
    transform: translateY(-5px);
}

.elementos{
    display: flex;
}
.andando{
  size: 10cap;
  width: 200px;
  height: 218px;
  margin: 5px 190px 0 60px;
  position: relative;
}
.logo{
    background-color: aqua;
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    transition: all 680ms;
    margin: 30px 100px 0 0;
    box-shadow:  5px 5px 22px #6e6e6e,
             -5px -5px 22px #ffffff;
}
.logo:hover
{
    background-color:#ffa19c;
    transform: scale(1.1);
    box-shadow:  5px 5px 22px #6e6e6e,
             -5px -5px 22px #ffffff;
}
.Decoracion {
    width: 136px;
    height: 120px;
    margin: 80px 0 0 -430px;
}

/* Hasta aca va lo de la navBar */

.logofooter2 {
    width: 250px;
    height: 180px;
}

.section1 {
    background-color: #2F2638;
    
    padding-bottom: 8rem;
    }
    
.logofooter3 {
transform: translate(101px,93px);

}

.tittle {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    color: #FFFFE3;
    text-align: center;
   padding-top: 60px; 
}

body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Optional background for the body */
}

.contact-box {
    width: 803px;
    height: 600px;
    background-color: #6ECCBA;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 60px auto 0 auto; 
}

.contact-title {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    color: black;
}

.buttonfooter2 {
    background-color:#FF925C;
    border-color: #FF925C;
    color: white;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
  

}


.formOne {
background-color: #6ECCBA;

}

/* estilos del modal */
.Carrito {
    height: 45px;
    width: 45px;
}
.buscador {
    width: 210px;
}
.offcanvas-header {
    flex-direction: column;
}
.botonesDeCompra {
    display: flex;
    gap: 5px;
    justify-content:center
}
.sumarYrestar {
    width: 30px;
    height: 30px;
    background-color: #6ECCBA;
}
.offcanvas-body {
    margin-left: 90px;
}
.Texto-Modal {
    margin-left: 50px;
}
.linea {
    border-bottom: 1px solid #e4dede;
}
.checkout {
    background-color: #FFE266;
    border-color: #FFE266;
    width: 300px;
    margin-left: 35px;
}
.Iva {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.btn5 {
display: flex;
justify-content: center;

}

@media (max-width:800px) {
    .contact-box {
        width: 80%;
        height: 550px;
    
    }
    
}

