@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.footer {
    height: 368.42px; 
    background-color: #FFA19C;
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    width: 100%;
}

.logofooter {
height: 218px;
width: 213px;
justify-content: flex-start;
margin-left: 0px;


}

.box1 {
    margin-top: 30px;
    padding: 30px;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: black;
  font-size: 20px;
    }
    

.box2 {
margin-top: 30px;
padding: 30px;
font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: black;
  font-size: 20px;
}

.buttonfooter {
background-color: white;
border-color: white;
font-size: 16px;
font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;

}
* {
    margin: 0px;
    padding: 0px;

}
nav {
    height: 200px;
    background-color: #FFE266;
} 
.btnRedes {
    margin: 0 0 0 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    justify-content: left;
}
.Iconos {
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.btnMenu {
    margin-top: -90px;
    cursor: pointer;
   
}
.btnMenu1 {  
 transition: transform 0.2s ease;
 position: relative;
 z-index: 20;
} 
.btnMenu1:hover {
    transform: translateY(-5px);
}

.elementos{
    display: flex;
}
.andando{
  size: 10cap;
  width: 200px;
  height: 218px;
  margin: 5px 190px 0 60px;
}
.logo{
    background-color: aqua;
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    transition: all 680ms;
    margin: 30px 100px 0 0;
    box-shadow:  5px 5px 22px #6e6e6e,
             -5px -5px 22px #ffffff;
}
.logo:hover
{
    background-color:#ffa19c;
    transform: scale(1.1);
    box-shadow:  5px 5px 22px #6e6e6e,
             -5px -5px 22px #ffffff;
}
.Decoracion {
    width: 136px;
    height: 120px;
    margin: 80px 0 0 -430px;
}
.logofooter2 {
    width: 250px;
    height: 180px;
}
/* Tienda selección */
.cuerpoTienda{
    display: flex;
}

.tienda{  
    background-color:#6ECCBA;
    align-items: center;
    width: 250px;
    padding-top: 100px; 
    transition: transform 0.2s ease-in-out; 
}
.tienda:hover{
    transform: translateX(-5px);
}
.filter{
    font-family:"Open Sans", sans-serif;
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    margin-top: 20px;
    
}
.filter:hover{
    font-weight: bold;   
}
.ropa{
    font-family:"Open Sans", sans-serif;
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    margin-top: 20px;
    
    
}
.ropa:hover{
    
    font-weight: bold;
}
.accesorios{
    font-family:"Open Sans", sans-serif;
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.accesorios:hover{
    
    font-weight: bold;
}
.hogar{
    font-family:"Open Sans", sans-serif;
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.hogar:hover{
    
    font-weight: bold;
}

.sale{
    font-family:"Open Sans", sans-serif;
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.sale:hover{
    
    font-weight: bold;
}

.datosDeContacto{
    margin-top: 100px;
}
.camisa1{
    width: 150px;
    height: 150px;
}
.contacto {
    display: flex;
    flex-direction: column;
}
.primerProducto {
    width: 500px;
}
.imagenPago {
    width: 20px;
    height: 20px;
}