* {
    box-sizing: border-box;
    margin: 0;
}

/* responsiveNavBar */

@media screen and (max-width: 1104px){
    .responsiveImg {
     display: none;
    }
    .logo {
        margin: 30px 500px 0 0;
        width: 120px ;
        height: 120px;
    } .btnMenu1 {
        top:80px
    }
  }
@media screen and (max-width: 916px){
    .logo {
        margin: 30px 300px 0 0;
} .btnMenu1 {
    height: 100px;
    width: 160px;
    top: 100px;
} }
@media screen and (max-width: 580px){
    .logo {
        margin: 30px 250px 0 0;
}
 }
/* hasta aca va es responsiveNavBar */